.navbar {
  background-color: #B6D084;
    }

.navbar-text {
  color:#FFCB32;
    }

.description {
  font-family: 'PT Serif', serif;
  color: #2F7604;
  font-size: 1em;
    }

.sectionheader {
  font-family: 'PT Serif', serif;
  color: #FFCB32;
  text-transform:uppercase;
  font-size:2.5em;
  font-weight:400;
  width: 70%;
  min-width:300px;
  margin-bottom:10px;
  margin-top:20;
  margin-left:0;
  margin-right:0;
    }
.jobtitle {
  font-family: 'PT Sans', sans-serif;
  font-weight:600;
  font-size:1.5em;
    }

.organization {
      font-family: 'PT Sans', sans-serif;
      font-weight:400;
      font-size:1.25em;
      }

.date {
      font-family: 'PT Sans', sans-serif;
      font-weight:400;
      font-style:italic;
      font-size:1em;
      margin-top:2px;
      margin-bottom:0px;
      margin-right:0px;
      margin-left:0px;
    }

  .row {
    background-color: #B6D084;
  }
